.addNewUser {
    float: right;
    background-color: #e6e6e6;
    border: none;
}

.addNewUser:active {     
    background-color: #e6e6e6 !important;
    color: #000000 !important;  
}

.iconStyle {
    margin-left: 10px;

}

table {
    width: 90%;
    margin: auto;
}

.filters {
    display: flex;
    width: 90%;
    margin: auto;

    margin-top: 10px;
}
