<header>
    <div class="p-5 text-center bg-light">
      <h1 class="mb-3">User list</h1>
      <a class="btn btn-primary addNewUser" (click)="openUserForm(null)" role="button">Add new user</a>
    </div>
  </header>

  <div class="filters" [formGroup]="filterFormGroup">
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <input class=" form-control" autofocus type="search" placeholder="Search per names or email" formControlName="search">
      </div>
    </div>
  
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <select class="form-control" formControlName="status">
          <option value="" selected>{{'Choose status'}}</option> 
          
          <option id="active"> {{'Active'}} </option>
          <option id="inactive"> {{'Inactive'}} </option>
        </select>
      </div>
    </div>
  </div>
  

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.status }}</td>
        <td>
          <img title = "Edit" class="iconStyle" [src]="'assets/svg/pencil.svg'" (click)="openUserForm(user.id)">
          <img title = "Assign permission" class="iconStyle" [src]="'assets/svg/assign.svg'" (click)="openAssignPermissions(user.id)">
          <img title = "Delete" class="iconStyle" [src]="'assets/svg/trash.svg'" (click)="delete(user.id)">
          <!-- <img title = "Delete" class="iconStyle" [src]="'assets/svg/trash.svg'" (click)="showModal(deleteItemTemplate)"> -->

        </td>
      </tr>
      
    </tbody>
  </table>


  <!-- po pravilu bi se maxPage trebao izracunati na bekendu i poslati -->
  <app-page-switcher
                [page]="this.currentPage"
                [maxPage]="5"
                (changePage)="changePage($event)"
            >
  </app-page-switcher>



<!-- ideja za delete modal: -->
<!-- <ng-template #deleteItemTemplate>
    <div class="delete-item-modal">
        <div class="delete-item-header">
            <div class="header-text">{{'Are you sure you want to delete selected user?'}}</div>
        </div>
        <div class="delete-item-footer">
            <div class="buttons">
                <button class="cancel-button" (click)="modalRef.hide()">
                    <span class="cancel-text text-style">{{'Cancel'}}</span>
                </button>
                <button [disabled]="deleteInProgress" class="delete-button" (click)="doDeleteItem()">
                    <span class="delete-text text-style">{{'Delete'}}</span>
                </button>   
            </div>
        </div>
    </div>
</ng-template> -->



