.buttonStyle {
    border:none;
    float: left;
    background-color: #e6e6e6;
    color: #000000;
}

.buttonStyle:active {     
    background-color: #e6e6e6 !important;
    color: #000000 !important;  
}

.newUserFormGroup {
    display: grid;
    margin: auto;
    width: 70%;
}

.submitButton {
    margin: auto;
}

.savedDeletedBox {
    background: rgb(211, 214, 211);
    border-radius: 25px;

    width: 300px;
    height: 30px; 

    margin:auto;
    margin-top: 10px;
}

.savedDeletedMessage {
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #067f26;
}